/*html * {
    background: rgba(255, 0, 0, .1);
    box-shadow: 0 0 0 1px red;
}*/

body {
    font-family: 'Reem Kufi', sans-serif;
}

.navigation {
    border: 1px red solid; 
    display: flex;
    flex-direction: column;
    text-align: center;
}

.logo {
    border: 2px red solid;
    margin: 1rem;
    max-width: 375px;
}

.navbar ul {
border: 2px red dashed;
padding: 1rem;
}


