/*html * {
    background: rgba(255, 0, 0, .1);
    box-shadow: 0 0 0 1px red;
}*/

@import url('https://fonts.googleapis.com/css?family=Heebo:400,700&display=swap');

.navigation {
    border: 1px red solid; 
    display: flex;
    flex-direction: column;
    text-align: center;
}

.logo {
    border: 2px red solid;
    margin: 1rem;
}


.navbar ul {
border: 2px red dashed;
padding: 1rem;
font-family: Arial, Helvetica, sans-serif;
font-size: 1.2rem;
display: flex;
flex-flow: row nowrap;
justify-content: space-around;
}

.navbar li {
    border: 2px blue dashed;
    flex-basis: 20%;

}

.contentBlock {
    border: 2px green solid;
    display: flex;
    flex-flow: column nowrap;
    margin-top: 1.4rem;
    font-family: 'Heebo', sans-serif;
}

.background, .background2, .background3{
    border: 2px red solid;
    display: flex;
    flex-flow: column nowrap;
    background-color: #a9efd7;
    margin: 1.2rem;
    border-radius: 20px;
}

.titleA, .titleB, .titleC{
font-size: 1.2rem;
font-weight: 700;
border: 1px
red solid;
padding: 1.4rem;
text-align: center;
}

.titleA_1, .titleB_1 {
    border: 1px dashed blue;
    margin: 0 1.2rem;

}

.background2 img, .background3 img {
    border: 2px red solid;
    margin-top: 1.2rem;
    padding: 1rem;
}

